
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #9b72aa;
}

.content__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;

    .form__overlay {
        width: 100%;
        max-width: 500px;
        background-color: #fff;
        padding: 30px;
        border: 10px;
        box-shadow: 0 4px 8px rgba($color: #000000, $alpha: .12);

        h2 {
            text-align: center;
            margin-bottom: 20px;
            font-size: 32px;color: #01937c;
        }

        .input__overlay {
            width: 100%;
            height: 44px;
            position: relative;
            margin: 25px 0;

            input {
                font-size: 16px;
                font-weight: normal;
                color: #282828;
                border: 0;
                box-shadow: none;
                outline: none;
                width: 100%;
                height: 100%;
                padding-left: 16px;
            }

            .label{
                position: absolute;
                top: 0%;
                left: 0%;
                width: 100%;
                height: 100%;
                border: 2px solid #ddd;
                border-radius: 8px;
                pointer-events: none;
                transition: all .3s ease-in-out;

                .label__name {
                    position: absolute;
                    top: 11px;
                    left: 10px;
                    font-size: 16px;
                    color: #282828;
                    transition: all .3s ease-in-out;
                    padding: 0 5px;
                }
            }

            input:focus+.label .label__name,
            input:valid+.label .label__name {
                transform: translateY(-20px);
                background-color: #fff;
                color: #9b72aa;
            }
            input:focus+.label,
            input:valid+.label {
                border-color: #3c5186;
            }
        }

        .btn__box {
            text-align: center;
            margin-top: 20px;
            .btn {
                font-size: 16px;
                text-transform: uppercase;
                padding: 12px 35px;
                background-color: #3c5186;
                border: 1px solid #3c5186;
                color: #fff;
                transition: all .3s ease-in-out;

                &:hover {
                    background-color: #9b72aa;
                    border-color: #9b72aa !important;
                } 
            }
        }
    }
}